<div id="menu_tab">
  <ul class="menu">
    <li><%= link_to "TRANG CHỦ", root_path, class: "nav" %></li>
    <li class="divider"></li>
    <li><a href="#" class="nav">Giới thiệu</a></li>
    <li class="divider"></li>
    <li><a href="#" class="nav">Bán buôn, sỉ</a></li>
    <li class="divider"></li>
    <li><%= link_to "Liên hệ", contact_path, class: "nav" %></li>
    <li class="divider"></li>
    <li><a href="#" class="nav">KHUYẾN MÃI</a></li>
    <% if logged_in? %>
      <% if current_user.admin? %>
        <li class="divider"> | </li>
        <li><a href="/products" class="nav">QUẢN LÝ SẢN PHẨM</a></li>
        <li class="divider"></li>
        <li><a href="/users" class="nav">QUẢN LÝ NGƯỜI DÙNG</a></li>
      <% end %>
    <% end %>
  </ul>
</div>
<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
      </span>
    </div>
  </div>
</div>
<br>
<!-- end of menu tab -->
<div class="left_content">
  <div class="title_box">DANH MỤC SẢN PHẨM</div>
  <ul class="left_menu">
    <li class="odd"><a href="#">MỸ PHẨM LÀM SẠCH</a></li>
    <li class="even"><a href="#">MỸ PHẨM DƯỠNG DA</a></li>
    <li class="odd"><a href="#"> MỸ PHẨM TRANG ĐIỂM</a></li>
    <li class="even"><a href="#">MỸ PHẨM ĐẶC TRỊ</a></li>
    <li class="odd"><a href="#">SALON TÓC</a></li>
    <li class="even"><a href="#">THỰC PHẨM DƯỠNG THỂ</a></li>
    <li class="odd"><a href="#">MỸ PHẨM NƯỚC HOA</a></li>
    <li class="even"><a href="#">PHỤ KIỆN TRANG ĐIỂM</a></li>
  </ul>
  <div class="title_box">SẢN PHẨM ĐẶC BIỆT</div>
  <div class="border_box">
    <div class="product_title"><a href="#">Makita 156 MX-VL</a></div>
    <div class="product_img"><a href="#"><img src="assets/images/p1.jpg" alt="" border="0" /></a></div>
    <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
  </div>
</div>
