<div id="main_container">
  <%= render "layouts/header" %>
  <div id="main_content">
    <%= render "layouts/left_content", url: @url %>
    <div class="center_content">
      <div class="center_title_bar">Liên hệ</div>
      <div class="introduce-contact">
        <h2><strong>ShmilyShop:</strong></h2><br>
        --------------------------------------------------------</p>
        <p>- Shop Mỹ Phẩm ở ... Chuyên cung cấp mỹ phẩm xách tay chính hãng giá sỉ từ Hàn Quốc với các thương hiệu nổi tiếng như…</p>
        <p>Hotline:  – Zalo: 0938.334.617</p>
        <p>Facebook:  </p>
        <p>Email:  </p>
        <br>

        <h2><strong>ƯU ĐÃI CỰC HẤP DẪN</strong></h2><br>
        <p>Giảm ngay 10% cho hóa đơn trên 2.000.000đ, giảm 5% cho hóa đơn trên 1.000.000đ. Tặng ngay thẻ giảm giá tương ứng cho KH, áp dụng cho lần mua kế tiếp.</p>
        <p>
          Miễn phí tiền ship quận 1, 3, 10 cho KH có hóa đơn trên 200.000đ. Shop ship hàng toàn quốc. Liên hệ để biết phí ship cụ thể.
        </p>
        <p>Nhấn Like Fanpage https://www.facebook.com/YoungAndBeauty.MyPhamHanQuoc để nhận quà tặng hấp dẫn là mặt nạ dưỡng da khi đến mua hàng.</p>
      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</div>
