<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Online Movie Store</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
  <div id="inner">
    <div id="header">
      <h1><img src="images/logo.gif" width="519" height="63" alt="Online Movie Store" /></h1>
      <div id="nav"> <a href="#">HOME</a> | <a href="#">view cart</a> | <a href="#">help</a> </div>
      <!-- end nav -->
      <a href="#"><img src="images/header_1.jpg" width="744" height="145" alt="Harry Potter cd" /></a> <a href="#"><img src="images/header_2.jpg" width="745" height="48" alt="" /></a> </div>
    <!-- end header -->
    <dl id="browse">
      <dt>Full Category Lists</dt>
      <dd class="first"><a href="#">Action &amp; Adventure</a></dd>
      <dd><a href="#">Anime &amp; Manga</a></dd>
      <dd><a href="#">Art House &amp; International</a></dd>
      <dd><a href="#">Classics</a></dd>
      <dd><a href="#">Comedy</a></dd>
      <dd><a href="#">Cult Movies</a></dd>
      <dd><a href="#">Drama</a></dd>
      <dd><a href="#">New &amp; Future Releases</a></dd>
      <dd><a href="#">Horror</a></dd>
      <dd><a href="#">Musicals</a></dd>
      <dd><a href="#">Mystery &amp; Suspense</a></dd>
      <dd><a href="#">Science Fiction &amp; Fantasy</a></dd>
      <dd class="last"><a href="#">Westerns</a></dd>
      <dt>Search Your Favourite Movie</dt>
      <dd class="searchform">
        <form action="#" method="get">
          <div>
            <select name="cat">
              <option value="-" selected="selected">CATEGORIES</option>
              <option value="-">------------</option>
            </select>
          </div>
          <div>
            <input name="q" type="text" value="DVD TITLE" class="text" />
          </div>
          <div class="softright">
            <input type="image" src="images/btn_search.gif" />
          </div>
        </form>
      </dd>
    </dl>
    <div id="body">
      <div class="inner">
        <div class="leftbox">
          <h3>Star Wars Trilogy (Widescreen Edition)</h3>
          <img src="images/photo_1.jpg" width="93" height="95" alt="photo 1" class="left" />
          <p><b>Price:</b> <b>$225.97</b> &amp; eligible for FREE Super Saver Shipping on orders over <b>$195</b>.</p>
          <p><b>Availability:</b> Usually ships within 24 hours</p>
          <p class="readmore"><a href="#">BUY <b>NOW</b></a></p>
          <div class="clear"></div>
        </div>
        <!-- end .leftbox -->
        <div class="rightbox">
          <h3>Batman - The Animated Series </h3>
          <img src="images/photo_4.jpg" width="107" height="91" alt="photo 4" class="left" />
          <p><b>Price:</b> <b>$125</b> &amp; eligible for FREE Super Saver Shipping on orders over <b>$105</b>.</p>
          <p><b>Availability:</b> Usually ships within 24 hours</p>
          <p class="readmore"><a href="#">BUY <b>NOW</b></a></p>
          <div class="clear"></div>
        </div>
        <!-- end .rightbox -->
        <div class="clear br"></div>
        <div class="leftbox">
          <h3>Harry Potter and the Prisoner of Azkaban </h3>
          <img src="images/photo_2.jpg" width="93" height="101" alt="photo 2" class="left" />
          <p><b>Price:</b> <b>$350</b> &amp; eligible for FREE Super Saver Shipping on orders over <b>$295</b>.</p>
          <p><b>Availability:</b> Usually ships within 24 hours</p>
          <p class="readmore"><a href="#">BUY <b>NOW</b></a></p>
          <div class="clear"></div>
        </div>
        <!-- end .leftbox -->
        <div class="rightbox">
          <h3>Blade - Trinity (New Platinum Series)</h3>
          <img src="images/photo_5.jpg" width="90" height="103" alt="photo 5" class="left" />
          <p><b>Price:</b> <b>$115</b> &amp; eligible for FREE Super Saver Shipping on orders over <b>$95</b>.</p>
          <p><b>Availability:</b> Usually ships within 24 hours</p>
          <p class="readmore"><a href="#">BUY <b>NOW</b></a></p>
          <div class="clear"></div>
        </div>
        <!-- end .rightbox -->
        <div class="clear br"></div>
        <div class="leftbox">
          <h3>Million Dollar Baby (Widescreen Edition)</h3>
          <img src="images/photo_3.jpg" width="106" height="100" alt="photo 3" class="left" />
          <p><b>Price:</b> <b>$105.97</b> &amp; eligible for FREE Super Saver Shipping on orders over <b>$99</b>.</p>
          <p><b>Availability:</b> Usually ships within 24 hours</p>
          <p class="readmore"><a href="#">BUY <b>NOW</b></a></p>
          <div class="clear"></div>
        </div>
        <!-- end .leftbox -->
        <div class="rightbox">
          <h3>The Matrix Reloaded (Full Screen Edition)</h3>
          <img src="images/photo_6.jpg" width="91" height="99" alt="photo 6" class="left" />
          <p><b>Price:</b> <b>$75</b> &amp; eligible for FREE Super Saver Shipping on orders over <b>$55</b>.</p>
          <p><b>Availability:</b> Usually ships within 24 hours</p>
          <p class="readmore"><a href="#">BUY <b>NOW</b></a></p>
          <div class="clear"></div>
        </div>
        <!-- end .rightbox -->
        <div class="clear"></div>
      </div>
      <!-- end .inner -->
    </div>
    <!-- end body -->
    <div class="clear"></div>
    <div id="footer"> Web design by <a href="http://www.freewebsitetemplates.com">free website templates</a> &nbsp;
      <div id="footnav"> <a href="#">Legal</a> | <a href="#">Home</a> </div>
      <!-- end footnav -->
    </div>
    <!-- end footer -->
  </div>
  <!-- end inner -->
</div>
<!-- end wrapper -->
</body>
</html>
