@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background:url(images/bg.png);
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  margin:0px auto auto auto;
  color:#000;
}
p{
  padding:2px;
  margin:0px;
}

#main_container{
  background:url(images/bg.png);
  width:1200px;
  height:auto;
  margin:auto;
  padding:0px;
  background-color:#FFFFFF;
}

#header{
  width:1200px;
  margin:auto;
}

#logo{
  float:left;
  padding:45px 0 0 15px;
}

#main_content{
  clear:both;
}

.languages{
  float:right;
  width:150px;
  padding:8px 0 0 0;
}

.lang_text{
  float:left;
  padding:0 5px 0 0;
  color:#1DA1CF;
}

a.lang{
display:block;
float:left;
padding:0 5px 0 5px;
}

.top_right{
  width:728px;
  float:right;
}

.big_banner{
  float:right;
  padding:10px 10px 0 0;
}
/*---------------- menu tab----------------------*/
#menu_tab{
  background-color:#31a95b;
  background-size: 1200px 40px;
  width:1200px;
  height:40px;
}
ul.menu {
  background-color:#31a95b;
  background-size: 1170px 40px;
  list-style-type:none;
  float:left;
  display:block; width:1170px;
  margin:0px;
  padding:0px;
}

ul.menu li {
  display:inline;
  font-size:12px;
  font-weight:bold;
  line-height:40px;
  color: #fff
}

ul.menu li.divider {
  display:inline;
  width:4px;
  height:36px;
  float:left;
}

.category {
  background:url(images/menu_bg.png) no-repeat center;
  background-size: 900px 60px;
  list-style-type:none;
  float:left;
  display:block; width:900px;
  margin:0px;
  padding:0px;
}

ul.category_menu {
  background:url(images/menu_bg.png) no-repeat center;
  background-size: 950px 60px;
  list-style-type:none;
  float:left;
  display:block; width:950px;
  margin:0px;
  padding:0px;

  display:inline;
  font-size:12px;
  font-weight:bold;
  line-height:40px;
  color: #fff
}

a.nav:link, a.nav:visited {
  display:block;
  float:left;
  padding:0px 8px 0px 8px;
  margin:0 14px 0 14px;
  height:36px;text-decoration:none;
  color:#fff;
}

a.nav:hover{
  display:block;
  float:left;
  padding:0px 8px 0px 8px;
  margin:0 14px 0 14px;
  height:36px;
  text-decoration:none;
  color:#FF0;
}

/*-------------------carousel-inner------------------------*/
#myCarousel {
  background: #fff;
  .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        height: 400px;
        margin: auto;
    }
}

.multi-item-carousel{
  margin: auto;
  float: right;
  margin-right: 10px;
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

/*----------------crumb_navigation-------------*/
.crumb_navigation{
  width:1180px;
  height:15px;
  padding:5px 10px 0 20px;
  color:#333333;
  background:url(images/navbullet.png) no-repeat left;
  background-position:5px 8px;
}

.crumb_navigation a{
  color:#0fa0dd;
  text-decoration:underline;
}

span.current{
  color:#0fa0dd;
}

/*-------------left_content------------------*/
.left_content{
  background: #fff;
  width:200px;
  float:left;
  padding:0 0 0 5px;
}

.title_box{
  width:180px;
  height:30px;
  margin:5px 0 0 0;
  background:url(images/menu_title_bg.gif) no-repeat center;
  text-align:center;
  font-size:13px;
  font-weight:bold;
  color:#159dcc;
  line-height:30px;
}
/*--------left menu---------*/
ul.left_menu{
  width:200px;
  padding-left:10px;
  margin:0px;
  list-style:none;
}

ul.left_menu li{
  margin:0px;
  list-style:none;
}

// ul.left_menu li.odd a{
//   width:180px;height:30px;display:block; border-bottom:1px #e4e4e4 dashed;
//   text-decoration:none;color:#504b4b;padding:0 0 0 14px; line-height:25px;
// }

ul.left_menu li.even a{
  width:180px;height:30px;display:block; border-bottom:1px #e4e4e4 dashed;
  text-decoration:none;color:#504b4b; line-height:25px;
}

ul.left_menu li.even a:hover {
  color:#20B2AA;
}

.border_box{
  width:180px;
  height:auto;
  text-align:center;
  background:url(images/box_bottom_bg.gif) no-repeat center bottom;
}

.product_title{
  color:#ff8a00;
  padding:5px 0 5px 0;
  font-weight:bold;
}

.product_title a{
  text-decoration:none;
  color:#ff8a00;
  padding:5px 0 5px 0;
  font-weight:bold;
}

.product_title a:hover{
  color:#064E5A;
}

.product_img{
  padding:5px 0 5px 0;
  border-bottom:1px solid #D3D3D3;
}

.prod_price{
  padding:5px 0 5px 0;
  font-weight: normal;
  font-size: 15px;
  color: #e32f7b;
  font-family: 'Vidaloka', serif;
}

span.reduce{
  color:#666666;
  text-decoration:line-through;
}

span.price{
  color: #ff8a00;
}
/*----------newsletter--------------*/
input.newsletter_input{
  width:150px;
  height:16px;
  border:1px #ddd9d9 solid;
  margin:10px 0 5px 0;
  font-size:12px;
  padding:3px;
  color:#999999;
}

a.join{
  width:17px;
  display:block;
  margin:0px 0 5px 110px;
  padding:2px 8px 6px 8px;
  text-decoration: underline;
  color:#169ECC;
}

.banner_adds{
  width:180px;
  text-align:center;
  padding:10px 0 10px 0;
}
/*--------------oferta------------------*/
.oferta{
  width:1000px;
  height:300px;
  background:url(images/slider_bg.gif) no-repeat;
  background-size: 1000px 300px;
  float:left;
  padding:0px;
  margin:0 0 5px 5px;
}

.oferta_img{
  float:left;
  padding:10px 0 0 10px;
}

.oferta_title{
  font-size:15px;
  color:#159dcc;
  font-weight:bold;
}

.oferta_details{
  width:640px;
  float:left;
  padding:20px 0 0 30px;
}

.oferta_text{
  padding:5px 0 5px 0;
  font-size:12px;
  color:#159dcc;
  text-align:justify;
  line-height:15px;
}
/*center content--------------------------*/
.center_content{
  background: #fff;
  width:980px;
  float:right;
  padding:5px 0px 0px 50px;
}

.center_title_bar{
  width:980px;
  height:31px;
  float:right;
  padding:0 0 0 10px;
  line-height:31px;
  font-size:12px;
  color:#159DCC;
  font-weight:bold;
  background: #ccc;
}

/*----------------------right content--------------*/
.right_content{
  width:180px;
  float:left;
  padding:0px;
}

.shopping_cart{
  width:180px;
  height:84px;
  text-align:center;
}

.cart_title{
  font-size:12px;
  font-size:12px;
  color:#847676;
  font-weight:bold;
  padding:0px;
}

.cart_details{
  width:115px;
  float:left;
  padding:5px 0 0 15px;
  text-align:left;
}
.cart_icon{
  float:left;
  padding:5px 0 0 5px;
}

span.border_cart{
  width:100px;
  height:1px;
  margin:3px 0 3px 0;
  display:block;
  border-top:1px #999999 dashed;
}
/*---------prod_box----------*/
.prod_box{
  width:300px;
  height:auto;
  float:left;
  padding:10px 10px 10px 11px;
}

.center_prod_box{
  width:200px;
  height: auto;
  float:left;
  text-align:center;
  padding:0px;
  margin:0px;
  border:1px #F0F4F5 solid;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.special_prod_box{
  width:160px;
  height: auto;
  float:left;
  text-align:center;
  padding:0px;
  margin:0px;
  border:1px #F0F4F5 solid;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.prod_details_tab{
  width:173px;
  height:31px;
  float:left;
  margin:3px 0 0 0;
}

img.left_bt{
  float:left;
  padding:6px 0 0 6px;
}

a.prod_details{
  float: right;
  background: #FFD68F;
  color: #771616;
  font-style: italic;
  font-weight: bold;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 12px;
  white-space: nowrap;
  margin:2px -6px 0 0;
}

a.prod_compare{
  width:75px;
  height:24px;
  display:block;
  float:left;
  background:url(images/link_bg.gif) no-repeat center;
  margin:2px 0 0 5px;
  text-align:center;
  line-height:24px;
  text-decoration:none;
  color:#159dcc;
}

button.prod_buy{
  background: url(images/mh.png);
  color: #fff;
  width: 85px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
/*---------prod_box_big----------*/
.prod_box_big{
  width:554px;
  height:auto;
  float:left;
  padding:10px 10px 15px 15px;
}
.center_prod_box_big{
  width:554px;height: auto;
  float:left; text-align:center;
  padding:0 0 10px 0;
  margin:0px;
  border:1px #F0F4F5 solid;
}

.product_img_big{
  width:170px;
  padding:10px 0 0 10px;
  float:left;
}

.details_big_box{
  width:345px;
  float:left;
  padding:0 0 0 15px;
  text-align:left;
}

.product_title_big{
  color:#ff8a00;
  padding:5px 0 5px 0;
  font-weight:bold;
  font-size:14px;
}

.specifications{
  font-size:12px;
  font-weight:bold;
  line-height:18px;
}

.thumbs{
  padding:8px 5px 8px 5px;
  border:1px #DFD1D1 solid;
  margin:15px 0 0 0;
}
.thumbs a{
  padding:3px;
}

.prod_price_big{
  padding:5px 0 5px 0;
  font-size:16px;
}

a.addtocart{
  width:76px;
  height:27px;
  display:block;
  float:left;
  background:url(images/addtocart.gif) no-repeat left;
  padding:0 0 0 33px;
  text-decoration:none;
  line-height:27px;
  color:#1c4a52;
}

a.compare{
  width:76px;
  height:27px;
  display:block;
  float:left;
  margin:0 0 0 10px;
  background:url(images/compare.gif) no-repeat left;
  padding:0 0 0 33px;
  text-decoration:none;
  line-height:27px;
  color:#1c4a52;
}

span.blue{
  color:#159DCC;
}
/*---------------contact_form------------------*/
.contact_form{
  width:355px;
  float:left;
  padding:0px 0 0 75px;
}

.form_row{
  width:335px;
  clear:both;
  padding:10px 0 10px 0;
  color:#a53d17;
}

label.contact{
  width:75px;
  float:left;
  font-size:12px;
  text-align:right;
  padding:4px 5px 0 0;
  color: #333333;
}

input.contact_input{
  width:253px;
  height:18px;
  background-color:#fff;
  color:#999999;
  border:1px #DFDFDF solid;
  float:left;
}

textarea.contact_textarea{
  width:253px;
  height:100px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color: #999999;
  background-color:#fff;
  border:1px #DFDFDF solid;
  float:left;
}

a.contact{
  width:99px;
  height:27px;
  display:block;
  float:right;
  margin:0 0 0 10px;
  background:url(images/contact_bt.gif) no-repeat left;
  padding:0 0 0 10px;
  text-decoration:none;
  line-height:27px;
  color:#1c4a52;
}
/*--------------footer----------------*/
.footer_banner{
  width:1200px;
  clear:both;
  background:white;
  float:left;
  padding:5px 0px 0px 50px;
}

.footer{
  width:1200px;
  clear:both;
  height:65px;
  background:url(images/footer_bg.gif) repeat-x top;
}

.left_footer{
  float:left;
  padding:5px 0 0 10px;
}

.right_footer{
  float:right;
  padding:15px 30px 0 0;
}

.right_footer a{
  padding:0 0 0 7px;
  text-decoration:none;
  color: #666666;
}

.right_footer a:hover{
  text-decoration:underline;
}

.center_footer{
  float:left;
  width:200px;
  text-align:center;
  color:#666666;
  padding:10px 0 0 60px;
}

/*--------------hover-dropdown---------------*/
.dropdown-content {
    display: none;
    position: absolute;
    top: 0px;
    left: 173px;
    z-index: 9999;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.search_form {
  font-weight: normal;
}

.introduce-contact {
  margin-top: 50px;
  font-size: 20px;
}
