<li class="Odd">
  <div>
    <a href="#">
      <img src="#" alt="#">
    </a>

    <div class="product-title">
      <a href="#">xxxx</a>
    </div>

    <div class ="product-function">
      <div class="function-right"><a href="#">Mua hang</a></div>
      <div class="function-left">Price</div>

    </div>
  </div>
</li>
