<div class="footer">
  <div class="left_footer"> <img src="assets/images/footer_logo.png" alt="" width="89" height="42"/> </div>
  <div class="right_footer"> <a href="#">home</a> <a href="#">about</a><a href="#">contact</a></div>
</div>
