<div class="footer">
  <div class="left_footer"> <%= image_tag("images/footer_logo.jpg", size:"42x42") %> </div>
  <div class="right_footer"> <a href="#">home</a> <a href="#">about</a><a href="#">contact</a></div>
</div>
